<div>
  <h1>API access token</h1>

  <p>
  <%= bootstrap_form_for(@user, url: generate_token_user_path(@user), method: :post) do |f| %>
    <div class="input-group">
      <span class="input-group-addon">Token</span>
      <input type="text" class="form-control" value="<%= @user.token %>">
    </div>
  </p>
  <p>
    <%= f.submit 'Generate', class: 'btn btn-primary' %>
  </p>

  <% end %>
</div>
