<table id="new_records" class="table table-striped table-hover hidden">
  <thead>
    <tr>
      <th colspan="6">New Records</th>
      <th colspan="3">Controls</th>
    </tr>
  </thead>
  <tbody>
    <tr class="clone hidden">
      <td class="name"></td>
      <td class="ttl"></td>
      <td>IN</td>
      <td class="type"></td>
      <td class="prio">&nbsp;</td>
      <td class="content"></td>
      <td/>
      <td/>
      <td><%= link_to_destroy '#', class: 'js-destroy' %></td>
    </tr>
  </tbody>
</table>
