<div id="bulk-panel" class="panel panel-primary hidden">
  <div class="panel-heading">
    Bulk Mode
  </div>
  <div class="panel-body">
    <p>
      <span class="added">0</span> records added<abbr title="Highlight records that failed to be added" class="failed failed-added"></abbr>,
      <abbr class="js-modified-hover" title="Highlight modified records">
        <span class="changed">0</span> records modified
      </abbr><abbr title="Highlight records that failed to update." class="failed failed-changed"></abbr>,
        <span class="deleted">0</span> records deleted<abbr title="Highlight records that failed to delete" class="failed failed-deleted"></abbr>.
    </p>
    <div>
      <button type="button" class="btn btn-danger" id="js-bulky-cancel">Cancel</button>
      <button type="button" class="btn btn-success" id="js-bulky-commit">Commit</button>
    </div>
  </div>
</div>
<style>
    .affix {
        top: 55px;
        z-index: 100;
    }
</style>
<script>
    $('#bulk-panel').affix({
        offset: {
            top: 50
        }
    });
</script>

