<div id="bulk-panel" class="panel panel-primary hidden">
  <div class="panel-heading">
    Bulk Mode
  </div>
  <div class="panel-body">
    <p>
      <span class="added">0</span> records added,
      <abbr class="js-modified-hover" title="Highlight modified records"><span class="changed">0</span> records modified</abbr>,
      <span class="deleted">0</span> records deleted.
    </p>
    <div>
      <a href="." class="btn btn-default">Cancel (Refresh)</a>
      <button type="button" class="btn btn-success" id="js-bulky-commit">Commit</button>
    </div>
  </div>
</div>
