/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

/* Make sure navbar does not overlay body */
body {
  padding-top: 70px;
}

.highlight {
    background-color: #b8e0b8 !important;
}

/* Reset bootstrap's help cursor on control links */
table a abbr[title] {
    cursor: pointer;
}

.tab-pane table {
    margin-top: 20px;
}

#inline-record-form #record_ttl {
    width: 80px;
}
#inline-record-form #record_prio {
    width: 80px;
}
#inline-record-form #record_content {
    width: 300px;
}
